 /* 1º resetar os estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
} /* text-decoration: none; tirar todos os textos das minhas ancoras */

body {
    width: 100%;
    min-height: 100vh; /* altura minima padrão */
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /*vai jogar tudo no meio */
}

.instagram-wrapper { /* 1º grupo/container que ficara no meio da tela */
    /*flex vai ocupar/alinhar tudo em linha ocupando todo espaço que necessitam dentro do container */
    display: flex;
    align-items: center; /*align-items: é alianhemnto vertical (eixo Y) dos itens*/ 
    justify-content: start; /* aliamento na linha ou (eixo X)
                     start é começar da esquerda pra direita */
    width: 60%;
    height: 100vh;
}   

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}